version: "3"
services:
  rpc:
    image: tidepay/rpc
    depends_on:
      - postgresql
    links:
      - blobvault
      - postgresql
    container_name: rpc
    volumes:
      - .pgpass:/root/.pgpass
      - ./config/docker.rpc.json:/srv/tidepay/isunpayrpc/config/docker.json
      - /srv/tidepay/isunpayrpc/node_modules
    environment:
      NODE_ENV: docker
      PORT: 27184
    ports:
      - "27184:27184"
    command: bash -c "node_modules/.bin/knex migrate:latest --env docker && node build/backend.js"
  authd:
    image: tidepay/authd
    container_name: authd
    volumes:
      - /srv/tidepay/authd/node_modules
    environment:
      NODE_ENV: docker
      PORT: 27183
    ports:
      - "27183:27183"
    command: ["node", "build/backend.js"]
  blobvault:
    image: tidepay/blobvault
    depends_on:
      - postgresql
      - mongodb
    links:
      - postgresql
      - mongodb
    container_name: blobvault
    volumes:
      - .pgpass:/root/.pgpass
      - ./config/docker.blobvault.json:/srv/tidepay/blobvault/config/docker.json
      - /srv/tidepay/blobvault/node_modules
    environment:
      NODE_ENV: docker
      PORT: 27182
    ports:
      - "27182:27182"
    command: bash -c "node_modules/.bin/knex migrate:latest --env docker && node build/backend.js"
  dataapi:
    image: tidepay/dataapi
    depends_on:
      - mongodb
    links:
      - mongodb
      - rpc
    container_name: dataapi
    volumes:
      - ./config/docker.dataapi.json:/srv/tidepay/dataapi/config/docker.json
      - /srv/tidepay/dataapi/node_modules
    environment:
        NODE_ENV: docker
        PORT: 27186
    ports:
      - "27186:27186"
    command: ["node", "build/backend.js"]
  postgresql:
    image: tidepay/postgresql
    container_name: postgresql
    ports:
      - "5432:5432"
  mongodb:
    image: tidepay/mongodb
    container_name: mongodb
    ports:
      - 27017:27017